trabnab/soap/song.wsdl

<!-- soap/song.wsdl -->
<definitions name="SongService"
             targetNamespace="http://www.example.org/SongService/"
             xmlns:tns="http://www.example.org/SongService/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Tipos Complexos -->
  <types>
    <xsd:schema targetNamespace="http://www.example.org/SongService/">
      <!-- Tipo Song -->
      <xsd:complexType name="Song">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="artist" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Tipo Playlist -->
      <xsd:complexType name="Playlist">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="songs" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Lista de Músicas -->
      <xsd:complexType name="SongList">
        <xsd:sequence>
          <xsd:element name="songs" type="tns:Song" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Lista de Playlists -->
      <xsd:complexType name="PlaylistList">
        <xsd:sequence>
          <xsd:element name="playlists" type="tns:Playlist" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Elementos de Requisição e Resposta -->
      <xsd:element name="ListSongsRequest" type="xsd:anyType"/>
      <xsd:element name="ListSongsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="songList" type="tns:SongList"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Defina os elementos para as demais operações de forma similar -->
      <!-- ... -->
    </xsd:schema>
  </types>

  <!-- Mensagens -->
  <message name="ListSongsRequest">
    <part name="parameters" element="tns:ListSongsRequest"/>
  </message>
  <message name="ListSongsResponse">
    <part name="parameters" element="tns:ListSongsResponse"/>
  </message>

  <!-- Mensagens para as demais operações -->
  <!-- ... -->

  <!-- PortType -->
  <portType name="SongServicePortType">
    <operation name="ListSongs">
      <input message="tns:ListSongsRequest"/>
      <output message="tns:ListSongsResponse"/>
    </operation>
    <!-- Outras operações -->
    <!-- ... -->
  </portType>

  <!-- Binding -->
  <binding name="SongServiceBinding" type="tns:SongServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <!-- Operações -->
    <operation name="ListSongs">
      <soap:operation soapAction="ListSongs"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <!-- Outras operações -->
    <!-- ... -->
  </binding>

  <!-- Serviço -->
  <service name="SongService">
    <port name="SongServicePort" binding="tns:SongServiceBinding">
      <soap:address location="http://localhost:8000/songwsdl"/>
    </port>
  </service>
</definitions>
